blinker==1.4
certifi==2020.12.5
click==7.1.2
DBUtils==2.0
Flask==1.1.2
Flask-Cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
PyMySQL==0.10.1
sentry-sdk==0.19.5
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
